* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: DaSilva-light;
    src: url(/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}
body {
    font-family: DaSilva-light;
    background-color: hsl(214, 17%, 92%);
    padding: 30px;
}
.grid-container {
    margin: 30px auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    filter: drop-shadow(1px 1px 4px hsl(0, 3%, 78%));
}
.daniel-card {
    border: 1px solid hsl(263, 55%, 52%);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(263, 55%, 52%);
    img {
        border-radius: 999px;
        border: 3px solid hsl(264, 82%, 80%);
        width: 40px;
    }
    .paragraph-1 {
        margin-top: 20px;
        color: hsl(0, 0%, 100%);
        font-size: 20px;
        font-weight: 600;
    }
    .paragraph-2 {
        margin-top: 15px;
        color: hsl(214, 17%, 92%);
        font-size: 13px;
        font-weight: 400;
    }
}
.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nomenclature {
    display: grid;
    gap: 2px;
}

.names {
    color: hsl(214, 17%, 92%);
    font-size: 15px;
    font-weight: 500;
}
.verified {
    color: hsl(214, 17%, 92%);
    font-size: 12px;
}

.jonathan-card {
    border: 1px solid hsl(224, 10%, 45%);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(217, 19%, 35%);
    img {
        border-radius: 999px;
        border: 3px solid hsl(0, 0%, 100%);
        width: 40px;
    }
    .paragraph-3 {
        margin-top: 20px;
        color: hsl(0, 0%, 100%);
        font-size: 20px;
        font-weight: 600;
    }
    .paragraph-4 {
        margin-top: 15px;
        color: hsl(214, 17%, 92%);
        font-size: 13px;
        font-weight: 500;
    }
}

.jeanette-card {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    img {
        border-radius: 999px;
        border: 3px solid hsl(214, 17%, 92%);
        width: 40px;
    }
    .paragraph-5 {
        margin-top: 20px;
        color: hsl(217, 19%, 35%);
        font-size: 20px;
        font-weight: 600;
    }
    .paragraph-6 {
        margin-top: 15px;
        color: hsl(217, 19%, 35%);
        font-size: 13px;
        font-weight: 500;
    }
}
.names-j {
    color: hsl(217, 19%, 35%);
    font-size: 15px;
}
.verified-j {
    color: hsl(217, 19%, 35%);
    font-size: 13px;
}

.patrick-card {
    border: 1px solid hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(214, 27%, 25%);
    img {
        border-radius: 999px;
        border: 3px solid hsl(263, 55%, 52%);
        width: 40px;
    }
    .paragraph-7 {
        margin-top: 20px;
        color: hsl(0, 0%, 100%);
        font-size: 20px;
        font-weight: 600;
    }
    .paragraph-8 {
        margin-top: 15px;
        color: hsl(0, 0%, 100%);
        font-size: 13px;
        font-weight: 500;
    }
}

.kira-card {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    img {
        border-radius: 999px;
        border: 3px solid hsl(214, 17%, 92%);
        width: 40px;
    }
    .paragraph-9 {
        margin-top: 20px;
        color: hsl(217, 19%, 35%);
        font-size: 20px;
        font-weight: 800;
    }
    .paragraph-10 {
        margin-top: 15px;
        color: hsl(217, 19%, 35%);
        font-size: 13px;
        font-weight: 500;
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .daniel-card {
        grid-column-start: 1;
        grid-column: 1 / span 2;
    }
     .jonathan-card {
        grid-row: 1;
        grid-column: 3;
    }
    .jeanette-card {
        grid-row: 2;
        grid-column: 1;
    }
    .patrick-card {
        grid-row: 2;
        grid-column: 2 / span 2;
    }
    .kira-card {
        grid-column-start: 4;
        grid-row: 1 / span 2;
    } 
}
